*{
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 5rem;
    
  }
button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: yellow;
    margin-top: 2rem;
  }
.joke {
    margin-top: 20px;
    font-size: 18px;
  }